* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #d1d1d1;
  padding: 100px;
}
main {
  display: grid;
  height: 100%;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header side-bar" "board side-bar";
}
.header {
  grid-area: header;
  background-color: yellow;
}
.board {
  grid-area: board;
  background-color: blue;
}
.side-bar {
  grid-area: side-bar;
  background-color: green;
  grid-row: 1/3;
}
